[Desktop Entry]
Name=Dead Sector
Comment=A cyberpunk top-down shooter
Exec=dead-sector
Icon=dead-sector
Type=Application
Categories=Game;ActionGame;
